main{
    width: 100%;
    height: auto;
    margin: 0 auto;    
}
header{
    width: 100%;
    height: auto;
}
#cabecalho{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
}
#cabecalhoEsq, #cabecalhoMeio, #cabecalhoDir{
    width: 33.33%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: aqua;
}
#cabecalhoDir{
    display: block;
}
#navSup{
    width: 100%;
    height: auto;
}
#sectionMeio{
    width: 100%;
    height: auto;
}
#articleBannerSup{
    width: 100%;
    height: auto;
    margin: 0;
}
#articleInformcoesSup{
    width: 95%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}
#articleBannerPsg{
    width: 100%;
    height: auto;
    margin: 0;
}
.articleCursos{
    width: 100%;
    height: auto;
    margin: 0;
}
.divTextCursos{
    width: 95%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}
.divCardCursos{
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
.divCursos{
    width: 33.33%;
    height: auto;
}